<template>
    <div class="posts">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            TAMBAH CUSTOMER
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Nama</label>
                                <b-form-input v-model="name" placeholder="Masukkan nama"></b-form-input>
                            </div>

                            <div class="form-group">
                                <label>No. Telepon</label>
                                <b-form-input v-model="phonenumber" placeholder="Masukkan No. Telepon"></b-form-input>
                            </div>

                            <div class="form-group">
                                <label>Alamat</label>
                                <textarea class="form-control" v-model="address" rows="5"
                                            placeholder="Masukkan Alamat"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <b-form-input v-model="email" placeholder="Masukkan Email"></b-form-input>
                            </div>

                            <div class="form-group">
                                <label>No. KTP</label>
                                <b-form-file v-on:change="handleFileUpload" placeholder="Masukkan KTP"></b-form-file>
                            </div>


                            <b-button v-on:click="saveCustomer()" class="btn btn-md btn-success mr-2">Submit</b-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Axios from 'axios'
export default {
    name: 'AddCustomer',
    data(){
        return {
            name:"",
            email:"",
            phonenumber:"",
            address:"",
            identityCard:"",
        }
    },
    methods:{
        saveCustomer(){
            let url = "http://api-crud-vue-local.com/customers";
            let formData = new FormData();
            formData.append('name', this.name);
            formData.append('email', this.email);
            formData.append('phonenumber', this.phonenumber);
            formData.append('address', this.address);
            formData.append('identity_card', this.identityCard);
            Axios.post(url, 
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
                ).then(
                res => {
                    console.log(res.data)
                    this.$router.push('/');
                }, 
                err => {
                    alert(JSON.stringify(err.response.data))
                }
            )
        },
        handleFileUpload(event){
            this.identityCard = event.target.files[0];
        }
    }
}
</script>