<template>
    <div class="posts">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            EDIT CUSTOMER
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Nama</label>
                                <b-form-input v-model="name" placeholder="Masukkan nama"></b-form-input>
                            </div>

                            <div class="form-group">
                                <label>No. Telepon</label>
                                <b-form-input v-model="phonenumber" placeholder="Masukkan No. Telepon"></b-form-input>
                            </div>

                            <div class="form-group">
                                <label>Alamat</label>
                                <textarea class="form-control" v-model="address" rows="5"
                                            placeholder="Masukkan Alamat"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <b-form-input v-model="email" placeholder="Masukkan Email"></b-form-input>
                            </div>

                            <div class="form-group">
                                <label>No. KTP</label>
                                <b-form-file v-on:change="handleFileUpload" placeholder="Masukkan KTP"></b-form-file>
                                <img v-bind:src="'http://api-crud-vue-local.com/uploads/identity_card/' + dataCustomer.identity_card" /> 
                            </div>


                            <b-button v-on:click="saveCustomer()" class="btn btn-md btn-success mr-2">Submit</b-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Axios from 'axios'
export default {
    name: 'EditCustomer',
    data(){
        return {
            dataCustomer:{},
            identityCard:""
        }
    },
    mounted() {
        this.getResults()
    },
    methods:{
        saveCustomer(){
            let url = "http://api-crud-vue-local.com/customers";
            let formData = new FormData();
            formData.append('_method', 'PATCH')
            formData.append('id', this.id);
            formData.append('name', this.name);
            formData.append('email', this.email);
            formData.append('phonenumber', this.phonenumber);
            formData.append('address', this.address);
            formData.append('identity_card', this.identityCard);
            console.log(formData.get('identity_card'));
            Axios.post(url, 
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
                ).then(
                res => {
                    console.log(res.data)
                    this.$router.push('/');
                }, 
                err => {
                    alert(JSON.stringify(err.response.data))
                }
            )
        },
        handleFileUpload(event){
            this.identityCard = event.target.files[0];
        },
        getResults(){
            Axios.get("http://api-crud-vue-local.com/customers/" + this.$route.params.id).then(
                res => {
                    this.dataCustomer = res.data.data

                    this.id = this.dataCustomer.id
                    this.name = this.dataCustomer.name
                    this.phonenumber = this.dataCustomer.phonenumber
                    this.email = this.dataCustomer.email
                    this.address = this.dataCustomer.address
                    this.identity_card = this.dataCustomer.identity_card
                }
            )
        }
    }
}
</script>