<template>
    <div class="posts">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            POSTS
                        </div>
                        <div class="card-body">
                            <router-link :class="['btn btn-md btn-success mb-2']" to="/add">TAMBAH POST</router-link>
                            <hr>

                            <div class="table-responsive mt-2">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Nama</th>
                                        <th>No. Telepon</th>
                                        <th>Email</th>
                                        <th>Alamat</th>
                                        <th>Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="customer in dataCustomers.data" :key="customer.id">
                                        <td>{{ customer.name }}</td>
                                        <td>{{ customer.phonenumber }}</td>
                                        <td>{{ customer.email }}</td>
                                        <td>{{ customer.address }}</td>
                                        <td>
                                            <router-link :to="{name:'edit', params: { id: customer.id } }"  class="btn btn-sm btn-primary mr-2">Edit</router-link> 
                                            <a v-on:click="deleteCustomer(customer.id)"></a>
                                            <button @click.prevent="PostDelete(customer.id)" class="btn btn-sm btn-danger">Hapus</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <pagination :data="dataCustomers" @pagination-change-page="getResults"></pagination>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data(){
        return {
            dataCustomers:{}
        }
    },
    name: 'ListCustomer',
    mounted() {

        this.getResults()
    },
    methods:{
        getResults(page = 1){
            axios.get("http://api-crud-vue-local.com/customers?page=" + page).then(
                res => {
                    this.dataCustomers = res.data
                }
            )
        },

        deleteCustomer(idCustomer){
            axios.delete("http://api-crud-vue-local.com/customers", {id:idCustomer}).then(
                res => {
                    this.dataCustomers = res.data
                }
            )
        },

        PostDelete(id)
            {
                axios.delete(`http://api-crud-vue-local.com/customers/${id}`).then(
                    res => {
                        this.dataCustomers = res.data
                    }
                )
            }
    }
}
</script>